<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SCM.Properties.Settings.BDConnectionString" connectionString="Data Source=|DataDirectory|\BD.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
        <add name="SCM.Properties.Settings.bdConnectionString1" connectionString="server=localhost;User Id=root;password=elkike_;Persist Security Info=True;database=bd"
            providerName="MySql.Data.MySqlClient" />
        <add name="SCM.Properties.Settings.bdConnectionString2" connectionString="server=localhost;User Id=root;password=elkike_;database=bd"
            providerName="MySql.Data.MySqlClient" />
        <add name="SCM.Properties.Settings.ConexionSQLServer" connectionString="Data Source=(local)\SQLServer;Initial Catalog=bd;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>